<h1><%= @user.email %></h1>

<% if @current_user.role? :admin %>

<% else %>
  <h2>Your Rentals</h2>
    <table class="table">
    <thead>
      <th>Device Rented</th>
      <th>Due Back</th>
    </thead>
    <% for rental in @rentals %>
      <tr>
        <td><%= link_to rental.device.IMEI, device_path(rental.device) %></td>
        <td><%= rental.end_date.strftime("%B %d, %Y") %>
      </tr>
    <% end %>
  </table>
<% end %>