<% content_for :full_width_content do %>
  <div id="home_top_splash"></div>
<% end %>
<div class="row" id="homepage_cover">
  <div class="span4 phones_cover">
    <%= image_tag "phones_cover.png" %>
  </div>

  <div class="span5">
    <br>
    <br>
    <br>
    <h4>
      Carnegie Mellon Mobile Apps Club
    </h4>
      <h1>Device Rental Program</h1>
      <br>
      <br>
      <% if logged_in? %>
        <%= link_to "Rent a Device", models_path, :class => "button button-blue button-large" %>
      <% else %>
        <%= link_to "Rent a Device", login_path, :class => "button button-blue button-large" %>
      <% end %>
  </div>


</div>