<% content_for :full_width_content do %>
  <div id="home_top_splash"></div>
<% end %>
<div class="row">
  <div class="span4 phones_cover">
    <%= image_tag "phones_cover.png" %>
  </div>

  <div class="span5">
    <h1>Device Rental</h1>
  </div>
</div>