/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require layout
 *= require skeleton
*/

/*========== IMPORTS =========================================================*/
@import "bootstrap";
@import "bootstrap-responsive";

/*========== BOOTSTRAP OVERRIDES =============================================*/
/* disable resizing larger than 960px wide */
@media (min-width: 1200px) {
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 960px;
  }
}

/*========== VARIABLES =======================================================*/
$base_color: #6754BD;
$red: #B31B1B;
$green: #168F16;
$gray: #666666;

$footer_height: 65px;

/*========== MIXINS ==========================================================*/

@mixin border-box {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

@mixin inset-shadow($x, $y, $blur, $color) {
    -moz-box-shadow:    inset $x $y $blur $color;
    -webkit-box-shadow: inset $x $y $blur $color;
    box-shadow:         inset $x $y $blur $color;
}

@mixin text-shadow($h: $horizontal_offset, $v: $vertical_offset, $c: $shadow_color) {
    $value: $h $v $c;
    -moz-text-shadow: $value;
    -webkit-text-shadow: $value;
    -o-text-shadow: $value;
    text-shadow: $value;
}

/*========== BASIC STYLES ====================================================*/
body {
  background-color: #EDEDED;
  -webkit-font-smoothing: antialiased;
}

.content {
  padding-top: 60px;
}

/* Table Styles */

.table {
  box-shadow: 0px 1px 6px #999;
  background-color: #F6F6F6;
  border-radius: 5px;
  overflow: hidden;

  thead {
    border-bottom: 2px solid black;
    background-color: $base_color;
    color: white;
  }

}

/*========== NAV STYLES ======================================================*/
.nav .inline_link {
  display: inline-block;
}

.minimal_nav {
  width: 960px;
  margin-left: auto;
  margin-right: auto;

  ul {
    list-style-type: none;
    padding-top: 10px;

    li {
      display: inline-block;
      padding-left: 10px;
    }
  }

}


/*========== STICKY FOOTER ===================================================*/
* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (-$footer_height);
}

footer, .push {
  height: $footer_height;
}

/*========== FOOTER STYLES ===================================================*/

footer {
  background-color: #333;
  color: #444;
  padding: 25px;
  @include border-box;
}

/*========== BUTTONS =========================================================*/

/* Base Button Styles */
.button, a.button {
  cursor: pointer;
  text-decoration: none;

  color: #fff;
  font-size: 12px;

  display: inline-block;
  font-weight: bold;
  text-align: center;
  padding: 8px 12px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  -webkit-box-shadow: 2px 2px 0px $gray;
  -moz-box-shadow: 2px 2px 0px $gray;
  box-shadow: 2px 2px 0px $gray;

  background-color: lighten($gray, 25%);

  -webkit-transition: none;
}

.button:hover, a.button:hover {
  background-color: lighten($gray, 35%); 
}

.button:active, a.button:active {
  -webkit-box-shadow: 1px 1px 0px $gray;
  -moz-box-shadow: 1px 1px 0px $gray;
  box-shadow: 1px 1px 0px $gray;

  position: relative;
  top: 1px;
  left: 1px;
}

/* Green Buttons */
.button-green, a.button-green {
  -webkit-box-shadow: 2px 2px 0px $green;
  -moz-box-shadow: 2px 2px 0px $green;
  box-shadow: 2px 2px 0px $green;

  background-color: lighten($green, 6%);
}

.button-green:hover, a.button-green:hover {
  background-color: lighten($green, 12%); 
}

.button-green:active, a.button-green:active {
  -webkit-box-shadow: 1px 1px 0px $green;
  -moz-box-shadow: 1px 1px 0px $green;
  box-shadow: 1px 1px 0px $green;

  position: relative;
  top: 1px;
  left: 1px;
}

/* Blue Buttons */
.button-blue, a.button-blue {
  -webkit-box-shadow: 2px 2px 0px $blue;
  -moz-box-shadow: 2px 2px 0px $blue;
  box-shadow: 2px 2px 0px $blue;

  background-color: lighten($blue, 6%);
}

.button-blue:hover, a.button-blue:hover {
  background-color: lighten($blue, 12%); 
}

.button-blue:active, a.button-blue:active {
  -webkit-box-shadow: 1px 1px 0px $blue;
  -moz-box-shadow: 1px 1px 0px $blue;
  box-shadow: 1px 1px 0px $blue;

  position: relative;
  top: 1px;
  left: 1px;
}

/* Small Buttons */
.button-small, a.button-small {
  padding: 3px 7px;

  font-size: 11px;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

}

/* Large Buttons */
.button-large, a.button-large {
  padding: 12px 18px;

  font-size: 18px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

}
























